.App {
  text-align: center;
<<<<<<< HEAD
=======
  display: flex;
  flex-flow: column
>>>>>>> 38dd679b6cb30f7ea142cd9825bbc112b5f23634
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
<<<<<<< HEAD
  pointer-events: none;
=======
>>>>>>> 38dd679b6cb30f7ea142cd9825bbc112b5f23634
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
